@model RoleDetailsDto
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="my-5 text-center text-danger">Delete @Model.RoleName Role</h1>

<div class="card shadow-lg w-75 mx-auto mb-5">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">Are You Sure You Want To Delete @Model.RoleName Role?</h4>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Id" class="form-label fw-bold"></label>
                <input asp-for="Id" class="form-control" readonly />
            </div>
            <div class="col-md-6">
                <label asp-for="RoleName" class="form-label fw-bold"></label>
                <input asp-for="RoleName" class="form-control" readonly />
            </div>
        </div>


        <form method="post" asp-controller="Role" asp-action="Delete" asp-route-id="@Model.Id" class="mt-4 d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-outline-secondary px-4">Cancel</a>
            <input type="submit" value="Delete" class="btn btn-danger px-4" />
        </form>
    </div>
</div>

